body, html {
  height: 100%;
  margin: 0;
}

.terminal {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #0F0;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.terminal-header {
  padding: 10px;
  background-color: #222;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.terminal-body {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #0F0 #222;
}

.terminal-output {
  overflow: auto;
  white-space: pre-wrap;
}


.terminal-input {
  display: flex;
}

.terminal-prompt {
  color: #0FF;
}

#command-line {
  flex-grow: 1;
  display: flex;
  position: relative;
}

#cursor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  background-color: #0F0;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#command-input {
  background-color: transparent;
  border: none;
  color: #0F0;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  width: 100%;
  outline: none;
}

/* Scrollbar Styles (optional) */
.terminal-body::-webkit-scrollbar {
  width: 6px;
}

.terminal-body::-webkit-scrollbar-track {
  background-color: #222;
}

.terminal-body::-webkit-scrollbar-thumb {
  background-color: #0F0;
}
